input,
textarea,
button,
select,
div,
a {
    -webkit-tap-highlight-color: transparent;
}

a {
    cursor: pointer;
}

p:not(#landing-text) {
    cursor: text;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;

}

.hbutton {
    cursor: pointer;
    transition: filter 0.2s;
}

.hbutton:hover {
    filter: drop-shadow(0px 0px 5px white);
}

.header {
    z-index: 98;

    .hbutton {
        font-size: 2rem;
        padding: 1rem;
    }
}

#header-main{
    display: none;
    opacity: 0;
}

.footer {
    display: none;
    opacity: 0;
    z-index: 98;
    margin-top: auto;
    padding: 1rem;
}

/* Footer items separator */
.footer :not(:last-child)::after {
    all: initial;
    color: rgb(199, 199, 199);
    content: "•";
    margin-left: 1rem;
    margin-right: 1rem;
}

#bg {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    justify-content: end;
    align-items: center;
}

#bg img {
    /*fit the image at the bottom of the screen*/
    object-fit: cover;
    width: 65dvh;
    object-position: bottom;
}

#landing-screen {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    z-index: 99;
    font-size: 3rem;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}

#landing-text {
    transition: font-size 0.1s;
    font-weight: 600;
}

#landing-text:hover {
    font-size: 3.05rem;
    filter: drop-shadow(0px 0px 5px white);
}

#navigation {
    position: fixed;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100dvh;
    width: 100dvw;
}

* {
    padding: 0;
    margin: 0;
    color: white;
    cursor: default;
    font-family: 'Cinzel', serif;
    font-display: swap;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background: black;
  }

  #loading-screen{
    position: fixed;
    background: black;
    z-index: 100;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #loading-bar {
      width: calc(100% - 4rem);
      max-width: 24rem;
      height: 0.7rem;
      border: 1px solid rgb(167, 167, 167);
      border-radius: 16px;
      overflow: hidden;
      box-sizing: border-box;
  }

  #loading-progress{
      background-color: rgb(235, 235, 235);
      height: 0.7rem;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.25s
  }
.page {
    display: none;
    opacity: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

.content {
    max-width: 32rem;
    margin:2rem;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pfp {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    overflow: hidden;
    transition: transform 0.2s;
}

.pfp img {
    display: block;
    width: 100%;
    height: 100%;
}

.pfp:hover {
    transform: scale(1.05);
}

.username {
    font-weight: 600;
    font-style: italic;
}

.chip-array {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    justify-content: center;
}

.chip {
    color: #c1c1c1;
    font-size: 0.9rem;
    transition: filter 0.2s, color 0.2s;
}

.description * {
    margin-bottom: 0.5rem;
    text-align: justify;
}

.overlay {
    position: fixed;
    display: none;
    opacity: 0;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    z-index: 100;
}

.overlay .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    gap: 1rem;
}