@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    cursor: default;
    font-family: 'Cinzel', serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background: black;
}

a {
    cursor: pointer;
}

p:not(.landingText p) {
    cursor: text;
}

.hbutton {
    cursor: pointer;
    transition: filter 0.2s;
}

.hbutton:hover {
    filter: drop-shadow(0px 0px 5px white);
}

.headerBar {
    display: flex;
    z-index: 98;

    .hbutton {

        font-size: 2rem;
        padding: 1rem;
    }
}

.footerBar {
    display: flex;
    z-index: 98;

    margin-top: auto;
}


.footerItem {
    padding: 1rem;
}

.backgroundImg {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: -1;
    height: 100dvh;
    width: 100dvw;
    object-fit: cover;
    justify-content: end;
    align-items: center;
}

.backgroundImg img {
    /*fit the image at the bottom of the screen*/
    object-fit: cover;
    width: 65dvh;
    object-position: bottom;
    transition: filter 0.5s;
    filter: blur(25px);

}

.landingText {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 100dvh;
    width: 100dvw;

    z-index: 99;
    font-size: 3rem;
}

.landingText p {
    transition: 0.1s;
    font-weight: 600;
}

.landingText p:hover {
    font-size: 3.05rem;
    filter: drop-shadow(0px 0px 5px white);

    transition: 0.2s;
}

.navigationMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    height: 100dvh;
    width: 100dvw;
}

.page {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow-y: auto;
    max-width: 32rem;
    border-radius: 12px;
    max-height: calc(100dvh - 20rem);
    padding: 1rem;
}

.img-wrapper {
    width: 8rem;
    border-radius: 4rem;
    overflow: hidden;
    transition: transform 0.2s;

    img {
        display: block;
        width: 100%;
    }
}

.img-wrapper:hover {
    transform: scale(1.05);
}

.username {
    font-weight: 600;
    font-style: italic;
}

.chip-array {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
    justify-content: center;
}

.chip {
    color: #c1c1c1;
    font-size: 0.9rem;
    transition: filter 0.2s, color 0.2s;
}

.description {
    * {
        margin-bottom: 0.5rem;
        text-align: justify;

    }
}

.overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    backdrop-filter: blur(25px);
    z-index: 100;
}

.overlayContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;

    gap: 1rem;
}